#### Social_Network_Ads ML Exercise

1) Read the dataset 'Social_Network_Ads.csv'<br>
2) Remove/handle null values<br>
3) Considering 'Age' and 'Estimated Salary' as input features and 'Purchased' as output feature, generate the following models after splitting the dataset into training and test dataset with test_size as 25%.<br>
a) Logistic Regression <br>
b) Decision Tree <br>
c) RandomForest <br>
d) KNN<br>
and predict the Purchased class label.<br>
4) Generate confusion matrix and classification report for each of these models.<br> 
5) Compute Accuracy score for each of these models.<br>
6) Scale the input features using feature Scaling and then repeat question 3, 4 and 5<br>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df= pd.read_csv('/content/Social_Network_Ads.csv')

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df ['Gender']=df['Gender'].apply({'Male':0 ,'Female':1}.get)

In [5]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       0   19            19000          0
1  15810944       0   35            20000          0
2  15668575       1   26            43000          0
3  15603246       1   27            57000          0
4  15804002       0   19            76000          0

In [6]:
x=['Gender',	'Age',	'EstimatedSalary']

y=['Purchased']

In [7]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [8]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]
print(x.shape)
print(y.shape)

(400, 4)
(400,)

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(300, 4)
(100, 4)
(300,)
(100,)

In [10]:
from sklearn.neighbors import  KNeighborsRegressor
from sklearn.neighbors import KNeighborsClassifier

In [11]:
k1=KNeighborsClassifier(n_neighbors=10)

In [12]:
k1.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                     weights='uniform')

In [13]:
print('Training Accuracy',k1.score(x_train,y_train))
print('Testing Accuracy',k1.score(x_test,y_test))

Training Accuracy 0.7733333333333333
Testing Accuracy 0.79

In [19]:
ypre =k1.predict(x_test)
print(ypre)

[1 1 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 1 0 0 0 0 0 0
 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0 1 1
 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1]

In [38]:
from sklearn.metrics import confusion_matrix , classification_report

In [40]:
cr= classification_report(y_test,ypre)
print(cr)

              precision    recall  f1-score   support

           0       0.81      0.91      0.86        69
           1       0.73      0.52      0.60        31

    accuracy                           0.79       100
   macro avg       0.77      0.71      0.73       100
weighted avg       0.78      0.79      0.78       100

In [21]:
c= confusion_matrix(ypre,y_test)

In [22]:
print(c)

[[63 15]
 [ 6 16]]

In [36]:
from sklearn.preprocessing import StandardScaler

In [37]:
sc= standardscaler()

NameError: ignored