<a href="https://colab.research.google.com/github/Anuubhavvvv/Project-Python-machine-learning/blob/main/social_media_ads_decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



 **Social_Network_Ads ML Exercise**
1. Read the dataset 'Social_Network_Ads.csv'
2. Remove/handle null values
3. Considering 'Age' and 'Estimated Salary' as input features and 'Purchased' as output feature, generate the following models after splitting the dataset into training and test dataset with test_size as 25%.
 * a)Logistic Regression
 * b)Decision Tree
 * c)RandomForest
 * d)KNN
and predict the Purchased class label.
4. Generate confusion matrix and classification report for each of these models.
5. Compute Accuracy score for each of these models.
6. Scale the input features using feature Scaling and then repeat question 3, 4 and 5

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('/content/Social_Network_Ads.csv')

In [ ]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le=LabelEncoder()

In [ ]:
df['Gender']=le.fit_transform(df['Gender'])

In [ ]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [ ]:
df.shape

(400, 5)

In [ ]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,text_size=.25)

TypeError: ignored